.pie-timer-wrapper {
  display: inline-block;
  margin: auto auto;
  margin-left: .5em;
  position: relative;
  background: white;
}

.timer (@size; @color; @border; @duration)
{
  width: @size;
  height: @size;

  & .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    position: absolute;
    background: @color;
    border: @border;
  }

  & .spinner {
    border-radius: ~"100% 0 0 100% / 50% 0 0 50%";
    z-index: 200;
    border-right: none;
    animation: rota @duration linear infinite;
    -webkit-animation: rota @duration linear infinite;
    -moz-animation: rota @duration linear infinite;
    -o-animation: rota @duration linear infinite;
  }

  & .filler {
    border-radius: ~"0 100% 100% 0 / 0 50% 50% 0"; 
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa @duration steps(1,end) infinite reverse;
    -moz-animation: opa @duration steps(1,end) infinite reverse;
    -webkit-animation: opa @duration steps(1,end) infinite reverse;
    -o-animation: opa @duration steps(1,end) infinite reverse;
    border-left: none;
  }

  & .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa @duration steps(1,end) infinite;
    -webkit-animation: opa @duration steps(1,end) infinite;
    -moz-animation: opa @duration steps(1,end) infinite;
    -o-animation: opa @duration steps(1,end) infinite;
  }

  @-o-keyframes rota {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
  }

  @-moz-keyframes rota {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }

  @-webkit-keyframes rota {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @-moz-keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
  @-o-keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
  @-webkit-keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
}

.pie-timer-wrapper, .pie-timer-wrapper * {
  box-sizing: border-box;
}

.pie-timer-wrapper-alert {
  .timer(10px; #cacaca; 0px solid rgba(0,0,0,0.5); 3s)
}


