@import 'circle_loader';
@import "semantic_overrides";
@import "reactHelpers";
@import "existenceFont";

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 font-size: 2vmin;
 background-color: #000;
}

#fullscreen {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  text-decoration: none;
  height: 100%;
  .image {
    margin: auto auto;
    display: block;
  }
  .image.cover {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(15px);
    z-index: 0;
  }
  .image.maintain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
  }
  span {
    font-size: 4em;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    line-height: 1.5em;
    height: 3em;
    color: #fff;
  }
}

.frosty {
  filter:blur(50px);
  -o-filter:blur(50px);
  -ms-filter:blur(50px);
  -moz-filter:blur(50px);
  -webkit-filter:blur(50px);
}

.portrait {
  display: block;
  height: 100% !important;
  width: auto !important;
}
.landscape {
  display: block;
  height: auto !important;
  width: 100% !important;
}
.square {
  width: 100% !important;
}
.elevated {
  box-shadow: .6em .6em 1em 0 rgba(0, 0, 0, 0.24);
  border: 1px solid #3e3e3e;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 4em;
  color: #fff;
  margin: 1em;
}

.clickable.icon {
  cursor: pointer;
  position: relative;
  &:hover{
    color: #878787;
  }
  .label {
    position: absolute;
    top: -.5em;
    right: -1em;
  }
}

#footer {
  & > * {
    margin-left: .5em;
    margin-right: .5em;
  }
}

.scrim {
  text-shadow: 0.001em 0.001em 0.001em #000;
}

.huge.popup {
  font-size: 5em;
}

