<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <link rel='stylesheet' href='/assets/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/assets/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/assets/style.css' />
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="gifficult images gifs reddit">
    <% if(reddit){ %>
      <meta name="description" content="Gifficult - <%= reddit.title %>">
      <meta property="og:title" content="<%= reddit.title %>" />
      <meta property="og:image" content="<%= reddit.url %>" />
    <% } %>
  </head>
  <body>
  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43693123-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src='/assets/javascripts/app.js'></script>
  <script src='/assets/javascripts/bootstrap/html5shiv.js'></script>
</html>

